<p>teste</p>

<form [formGroup]="formulario">
  <div>
    <div>CEP</div>
    <input (blur)="buscar()" formControlName="cep">
  </div>
  <div>
    <div>Logradouro</div>
    <input formControlName="log">
  </div>
  <div>
    <div>Bairro</div>
    <input formControlName="bairro">
  </div>
  <div>
    <div>Cidade</div>
    <input formControlName="cidade">
  </div>
  <div>
    <div>UF</div>
    <select formControlName="uf">
      <option *ngFor="let sigla of estados" value="sigla">{{sigla}}</option>
    </select>
  </div>
</form>
<br>
<br>
<button (click)="buscarGelocalizacao()">Find Map</button>
<br>
map here
<div>
  <div id="mapid"></div>
</div>
